.card {
    width: 320px;
    height: 350px;
    background: rgb(117,117,117);
    background: var(--card-color);
    border-radius: 40px;
    box-shadow: var(--shadow);
    transition: all 0.5s;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.card:hover {
    transform: scale(1.01);
}