.walletTitle {
    font-size: 64px;
    color: #414141;
}

.number {
    font-size: 96px;
    letter-spacing: 5px;
}

.title {
    font-size: 40px;
    line-height: 40px;
    color: #414141;
    text-align: center;
}

.image {
    height: 175px;
    width: 320px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}