@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --bg-color: #e7e7e7;
    --card-color: linear-gradient(191deg, rgba(207,206,204,1) 0%, rgba(255,253,246,1) 100%);
    --menu-color: #262626;
    --shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    --font-color: #292929;
    --font-family: "Inter", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    color: var(--font-color);
}

